


{% include 'home/index.html.twig' %}


{% block body %}


    <div id="tasks">
        <div class="form-container">
            {{ form(form) }}
        </div>
        <h1>All todos List</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Done</th>
            </tr>
            </thead>
            <tbody>

            {% for names in name %}
                <tr>
                    <th scope="row">{{ names.id }}</th>
                    <td>

                        <a href="{{ path('names_details', { 'id': names.getId() }) }}">{{ names.getName() }}</a>
                    </td>
                    <td>
                        <input type="checkbox" name="task[]" value="{{ names.id }}">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
